
header { 
    background-color: lightblue;
    text-align: center;
    border-radius: 25px;

}

.card-header {
    text-align:center;
}

body {
    padding: 0;
    margin: 0;
    
  }
  
/* Set map to 100% of the screen size. */
#map {
    height: 100%;
    
}

.map-container {
    height: 500px;
    width: 850px;
    padding: 0px;
    
}

.gauge-container {
    height: 500px;
    width: 425px;
    padding: 0px;
    
    
}

.scatter-container {
    height: 500px;
    width: 425px;
    padding: 0px;
    
    
}

.pie-container {
    height: 500px;
    width: 425px;
    padding: 0px;
    
    
}

#table {
    
    padding: 0px;
}

@media (max-width: 1024px) {
    .map-container {
        height: 200px;
        width: 425px;
    }
    .scatter-container {
        height: 100px;
        width: 225px;
    }
    
    .bar-container {
        height: 100px;
        width: 225px;
    }
    
    /* .table-container {
        height: 100px;
        width: 425px;
    } */
    
    .gauge-container {
        height: 100px;
        width: 225px;
    }

  }


  