<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Global Carbon Dioxide Emissions</title>

    <!-- Leaflet CSS -->   
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />

    <!-- Leaflet JavaScript code -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>

    <!-- D3 library -->
    <script src="https://d3js.org/d3.v7.min.js"></script>

    <!-- Charts.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

    <!-- Bring in the Bootstrap stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <!-- Plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">

  </head>
  <body>

    <br>

    <!-- Dashboard header -->
      <div class="container"><div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <header>      
            <h1>Global Carbon Emissions Dashboard</h1>           
          </header>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
    <br> 
    
    <!-- html layout for maps and plots and tables -->
    <div class="container">
      <div class="row row1">
        <div class="col-md-8">
          <!-- create div to hold map -->
          <div class="card map-container">
            <h5 class="card-header">
              <div class="well">
                <!-- Year dropdown selector -->
                <span></span><h5>Year 
                  <select id="selDataset" onchange="optionChanged(this.value)"></select>
                </h5>
                <h6 id="iso">USA</h6>              
              </div>
            </h5>
            <!-- specify location of id/map to be referenced in logic.js -->
            <div id="map"></div>
          </div>          
        </div>   
        <!-- create div to hold table -->
        <div class="col-md-4"> 
          <!-- <div class="card table-container">  -->
            <div id="table"></div>
            <div id="table_top"></div>
        </div> 
    </div>
    <br>
    <!-- create div to hold first plot -->
    <div class="row">
      <div class="col-md-4">
        <div class="card gauge-container">
          <h5 class="card-header">Contribution to Total World Emissions</h5>
          <div id="gauge_plot"></div>
        </div>
      </div>
    <!-- create div to hold second plot -->
      <div class="col-md-4">
        <div class="card scatter-container">
          <h5 class="card-header">Total Co2 Emissions by Year</h5>            
          <br><br><br><br><br><br><br><br>
          <canvas id="scatter_plot"></canvas>                  
        </div>
      </div>
    <!-- create div to hold third plot -->
      <div class="col-md-4">
        <div class="card pie-container">
          <h5 class="card-header">% Emissions from Sources to Total Co2</h5>
          <div id="pie_plot"></div>
          
        </div>
        <p>Note: All Emissions are shown/listed in millions of tonnes</p>  
      </div>
    </div>
  </div>
  


    <!-- JavaScript file -->
    <script type="text/javascript" src="static/js/logic.js"></script>
    <script type="text/javascript" src="static/js/year_dropdown.js"></script>

    <!-- Import the Bootstrap JavaScript code -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>



  </body>
</html>